<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
    <parameter name="browserType" value="chrome" />
    <parameter name="webURL"
               value="https://datatables.net/examples/basic_init/zero_configuration.html" />

    <test name="sample test">
        <classes>
            <class name="namtester.testcases.SignInTest">
                <methods>
                    <include name="seacrh" />
                </methods>
            </class>
        </classes>
    </test>
</suite>